<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>



<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text"><%= book.description %></p>

                <div class="text-right">
                    <div>Количество просмотров:<%= count %></div>
                    <a class="btn btn-sm btn-primary" href="/api/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/api/books/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>


            </div>
        </div>
        <div class="form-group">
            <label for="text">Оставить отзыв</label>
            <textarea
                    placeholder="message"
                    class="form-control"
                    id="text"
            ></textarea>
        </div>
        <button type="submit" id="send-room" class="btn btn-primary">Разместить</button>

        <div class="row padding-top-xs" >
            <label for="text" class="ml-2" >Отзывы:</label>
            <div class="col-12">
                <div id="list" class="list-group">

                </div>
            </div>
        </div>
    </div>
</div>



<script>

    const roomName = location.pathname.split('/').pop();
    const socket = io.connect('/', {query: `roomName=${roomName}`});

    const inputText     = document.querySelector('#text');
    const sendRoom      = document.querySelector('#send-room');
    const boxList       = document.querySelector('#list');

    const getTmp = (msg) => {
        return `
                <div class="list-group-item list-group-item-action mt-1">
                    <div class="d-flex w-100 justify-content-between">
                        <small>${msg.username}</small>
                    </div>
                    <p class="mb-1">${msg.text}</p>
                </div>
        `;
    };

    socket.on('message-to-room', (msg) => {
        const div = getTmp(msg)
        boxList.insertAdjacentHTML('beforeend', div)
    });

    sendRoom.addEventListener('click', () => {
        console.log('listener');
        socket.emit('message-to-room', {
            username: "<%= userName  %>",
            text: inputText.value,
        })
    })

</script>

<%- include('../port/layout-end') %>


